body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background: #eee;
  overflow: hidden;
}

body {
  padding-top: 61px;
}

#main-content {
  //  margin: 10px;
  height: 100%;
}

.script-result, .result_time {
  color: white;
  font-size: 11px;
  font-family: monospace;
  padding: 8px;
  margin-bottom: 8px;
}

#result {
  font-size: 15px;
  overflow: auto;
  //  background: #f4f4f4;
  overflow: auto;
  .script-result {
    white-space: pre;
    margin: 0;
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #aaa;
    color: #000000;
    &.stacktrace {
      background: none repeat scroll 0 0 #FFF3F3;
      color: #ff0000;
    }
    .loading {
      background: url("img/spinner.gif") no-repeat scroll 10px center #FFFFFF;
      padding: 15px 15px 15px 37px;
    }
  }
  &.wrap {
    .script-result {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .inner {
      float: none;
      min-width: inherit;
    }
  }
}

#result.hide-input .script-result .input,
#result.hide-output .script-result .output,
#result.hide-result .script-result .result {
  display: none;
}

.result-time {
  font-size: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 5px;
  .navbar-brand {
    background: transparent url("img/grails.logo.png") no-repeat;
    background-position: 5px center;
    padding-left: 48px;
    font-size: 23px;
    color: #555;
  }
  .saving {
    position: absolute;
    color: #fff;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    font-size: 20px;
    line-height: 40px;
  }
}

.btn-toolbar {
  //  border-bottom: 1px solid #eee;
  padding: 3px;
}

//#editorContainer {
//  width: 100%;
//  height: 50%;
//  overflow: auto;
//  background: #f4f4f4;
//}

#editor .file-name-section {
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.ui-layout-pane {
  padding: 0;
  border: 0;
  background: transparent;
}

.ui-layout-content {
  padding: 0;
}

/*.results {*/
/*height: 100%;*/
/*}*/

.CodeMirror {
  height: 100%;
  font-size: 14px;
}

.CodeMirror-scroll {
  /*height: 100%;*/
}

.CodeMirror-gutter {
  /*padding-bottom: 0;*/
  /*margin-bottom: 0;*/
}

/*.CodeMirror {*/
/*border: 1px solid #eee;*/
/*height: auto;*/
/*}*/
.CodeMirror-scroll {
  /*overflow-y: hidden;*/
  /*overflow-x: auto;*/
  /*margin-bottom: 0;*/
  /*padding-bottom: 0;*/
}

#code-wrapper {
  overflow: auto;
}

label.wrap {
  color: #777777;
  font-size: 0.75em;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

label.wrap input,
label.wrap span {
  vertical-align: middle;
}

.dropdown-menu.settings a i.icon-check {
  visibility: hidden;
}

.dropdown-menu.settings a.selected  i.icon-check {
  visibility: visible;
}

.files-section-view {
  //  width: 600px;
  //  padding: 20px;
  //  margin-left: auto;
  //  margin-right: auto;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px;
  .file-store-select {
    padding: 0 0 10px 0;
    width: 200px;
    position: absolute;
    height: 100%;
    border-right: 1px solid #ccc;
    .nav-pills {
      li {
        a {
          border-radius: 0;
          i {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }
  }
  .store {
    margin-left: 200px;
  }
  ul.files {
    padding: 0;
    li {
      list-style-type: none;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
      a.name {
        color: black;
        font-size: 16px;
      }
      a.delete {
        text-decoration: none;
      }
      .icon-trash {
        color: #ddd;
        cursor: pointer;
      }
      .date {
        color: #888;
        font-size: 12px;
        margin-right: 5px;
      }
      &:hover {
        .icon-trash {
          color: #000;
        }
      }
    }
  }
}

.full-height {
  height: 100%;
}
.btn-toolbar {
  //    background-color: #888;

  background-color: transparent;
  button {

    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    &:active {
      outline: none;
      border-color: transparent;
      background-color: transparent;
    }
    &:hover {
      outline: none;
      border-color: #fff;
      background-color: transparent;
    }
    &:focus {
      outline: none;
      border-color: transparent;
      background-color: transparent;
    }
  }
}

.files-page-header {
  padding: 10px;
  border-bottom: 1px solid #ccc ;
  h1 {
    font-size: 28px;
    margin: 0;
  }
  .dir {
    margin-top: 10px;
  }
}

body[data-theme="default"] {
  background: url("img/brushed.png");
  .navbar {
    //    background: #888;
  }
  #editor {
  }
  .btn-toolbar {
//    background-color: #dddddd;
//    background-color: transparent;
  }
}

body[data-theme="lesser-dark"] {
  background: url("img/debut_dark.png");
  .navbar {
    background-color: #222;
    background-image: none;
    .navbar-brand {
      color: #eee;
    }
  }
  .btn-toolbar {
//    background-color: #888;
//    background-color: transparent;
    button {
      color: #fff;
      text-shadow: none;
    }
  }
  #result {
    //    background-color: rgb(38, 38, 38);
  }
  #editor {
  }
  .ui-layout-resizer {
    background-color: #aaa;
  }

  .ui-layout-toggler {
    background-color: #777;
  }
}