body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background: #eee;
  overflow: hidden;
}

body {
  padding-top: 61px;
}

#main-content {
  height: 100%;
}

.navbar-brand {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #555;
}

.script-result, .result_time {
  color: white;
  font-size: 11px;
  font-family: monospace;
  padding: 8px;
  margin-bottom: 8px;
}

#result {
  font-size: 15px;
  overflow: auto;
  background: #f4f4f4;
  overflow: auto;
  .script-result {
    white-space: pre;
    margin: 0;
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #aaa;
    color: #000000;
    &.stacktrace {
      background: none repeat scroll 0 0 #FFF3F3;
      color: #ff0000;
    }
    .loading {
      background: url("../img/spinner.gif") no-repeat scroll 10px center #FFFFFF;
      padding: 15px 15px 15px 37px;
    }
  }
  &.wrap {
    .script-result {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .inner {
      float: none;
      min-width: inherit;
    }
  }
}

#result.hide-input .script-result .input,
#result.hide-output .script-result .output,
#result.hide-result .script-result .result {
  display: none;
}

.result-time {
  font-size: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 5px;
}

.navbar-brand {
  background: transparent url(../img/grails.logo.png) no-repeat;
  background-position: 5px center;
  padding-left: 45px;

}

.btn-toolbar {
//  border-bottom: 1px solid #eee;
  padding: 3px;
}

//#editorContainer {
//  width: 100%;
//  height: 50%;
//  overflow: auto;
//  background: #f4f4f4;
//}

#editor .file-name-section {
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.ui-layout-pane {
  padding: 0;
  border: 0;
}

.ui-layout-content {
  padding: 0;
}

/*.results {*/
/*height: 100%;*/
/*}*/

.CodeMirror {
  height: 100%;
  font-size: 14px;
}

.CodeMirror-scroll {
  /*height: 100%;*/
}

.CodeMirror-gutter {
  /*padding-bottom: 0;*/
  /*margin-bottom: 0;*/
}

/*.CodeMirror {*/
/*border: 1px solid #eee;*/
/*height: auto;*/
/*}*/
.CodeMirror-scroll {
  /*overflow-y: hidden;*/
  /*overflow-x: auto;*/
  /*margin-bottom: 0;*/
  /*padding-bottom: 0;*/
}

#code-wrapper {
  overflow: auto;
}

label.wrap {
  color: #777777;
  font-size: 0.75em;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

label.wrap input,
label.wrap span {
  vertical-align: middle;
}

.dropdown-menu.settings a i.icon-check {
  visibility: hidden;
}

.dropdown-menu.settings a.selected  i.icon-check {
  visibility: visible;
}

.files-view {
  width: 600px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px;
  .file-store-select {
    padding: 0 0 10px 0;
  }
  ul.files {
    padding: 0;
    li {
      list-style-type: none;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
      a.name {
        color: black;
        font-size: 16px;
      }
      a.delete {
        text-decoration: none;
      }
      .icon-trash {
        color: #ddd;
        cursor: pointer;
      }
      .date {
        color: #888;
        font-size: 12px;
        margin-right: 5px;
      }
      &:hover {
        .icon-trash {
          color: #000;
        }
      }
    }
  }
}

.full-height {
  height: 100%;
}

body[data-theme="default"] {
  .navbar {
    //    background: #888;

  }
  .btn-toolbar {
    background-color: #dddddd;
  }
}

body[data-theme="lesser-dark"] {
  .navbar {
    background-color: #222;
    background-image: none;
    .navbar-brand {
      color: #eee;
    }
  }
  .btn-toolbar {
    background-color: #888;
  }
  #result {
    background-color: rgb(38, 38, 38);
  }
  #editor {
    .file-name-section {
      background-color: #eee;
    }
  }
  .ui-layout-resizer {
    background-color: #aaa;
  }

  .ui-layout-toggler {
    background-color: #777;
  }
}