<div class="btn-toolbar">
    <button class="clear btn btn-sm btn-default" title="(Esc)"><i class="fa fa-eraser"></i></button>
</div>

<div class="script-result-section"><div class="inner"></div></div>