<div class="btn-toolbar">
    <a class="clear btn btn-sm btn-default" href="#" title="Clear (Esc)"><i class="fa fa-eraser fa-lg"></i></a>
</div>

<div class="script-result-section"><div class="inner"></div></div>