<div class="btn-toolbar">
    <div class="btn-group">
        <button class="submit btn btn-default" title="(Ctrl + Enter)" data-function="execute"><i class="icon-play"></i></button>
        <button class="save btn btn-default"><i class="icon-save"></i></button>
        <button class="btn btn-default" data-function="fork"><i class="icon-code-fork"></i></button>
        <button class="help btn btn-default"><i class="icon-question"></i></button>
    </div>
</div>
<div class="file-name-section"></div>

<div id="code-wrapper" class="ui-layout-content">
    <textarea name="code" rows="25" cols="100"></textarea>
</div>