<div class="file-store-select">
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Local</a></li>
        <li><a href="#">Remote</a></li>
    </ul>
</div>
<ul class="files">
  {{#each files}}
      <li data-file-id="{{id}}">
          <span class="pull-right">
            <span class="date">{{dateFormatTime lastModified}}</span>
            <a class="delete" href="#"><i class="icon-trash"></i></a>
          </span>
          <a class="name" href="#">{{name}}</a>
      </li>
  {{/each}}
</ul>