<div class="file-store-select">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#" class="local-select">Local</a></li>
        <li><a href="#" class="remote-select">Remote</a></li>
    </ul>
</div>
<div class="store">
  <div class="local"></div>
  <div class="remote"></div>
</div>