<a class="navbar-brand" href="#">Grails Debug Console</a>
<p class="navbar-text">Signed in as Mark Otto</p>
<div class="saving" style="display: none">
    <i class="icon-refresh icon-spin"></i>
    <!--<i class="icon-spinner icon-spin"></i>-->
    Saving
</div>

<form class="navbar-form pull-right">
    <div class="btn-group">
        <button class="clear btn-sm btn btn-default dropdown-toggle" title="(Esc)" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right settings" role="menu">
            <li role="presentation" class="dropdown-header">Layout</li>
            <li><a href="#" class="orientation-horizontal"><i class="icon-check"></i> Horizontal</a></li>
            <li><a href="#" class="orientation-vertical"><i class="icon-check"></i> Vertical</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Results Pane</li>
            <li><a href="#" class="results-wrap"><i class="icon-check"></i> Wrap text</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Theme</li>
            <li><a href="#" class="theme" data-theme="default"><i class="icon-check"></i> Light</a></li>
            <li><a href="#" class="theme" data-theme="lesser-dark"><i class="icon-check"></i> Dark</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#" class="help"><i class="icon-check"></i> Help</a></li>
        </ul>
    </div>
</form>