<a class="navbar-brand" href="#">Grails Debug Console</a>

<form class="navbar-form pull-right">

    <button type="button" class="btn btn-primary new">New</button>
    <button type="button" class="btn btn-primary files">Files</button>
    <div class="btn-group">
        <button class="clear btn-sm btn btn-default dropdown-toggle" title="(Esc)" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right settings" role="menu">
            <li role="presentation" class="dropdown-header">Orientation</li>
            <li><a href="#" class="orientation-horizontal"><i class="icon-check"></i> Horizontal</a></li>
            <li><a href="#" class="orientation-vertical"><i class="icon-check"></i> Vertical</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Results Pane</li>
            <li><a href="#" class="results-wrap"><i class="icon-check"></i> Wrap text</a></li>
            <li><a href="#" class="results-show-script"><i class="icon-check"></i> Show script</a></li>
            <li><a href="#" class="results-show-stdout"><i class="icon-check"></i> Show stdout</a></li>
            <li><a href="#" class="results-show-result"><i class="icon-check"></i> Show result</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Theme</li>
            <li><a href="#" class="theme" data-theme="default"><i class="icon-check"></i> Light</a></li>
            <li><a href="#" class="theme" data-theme="lesser-dark"><i class="icon-check"></i> Dark</a></li>
        </ul>
    </div>
</form>