<div class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>

            <div class="modal-body">
                <h4>Implicit variables</h4>
                <table class="table">
                    <tr><td>ctx</td><td>the Spring application context</td></tr>
                    <tr><td>grailsApplication</td><td>the Grails application</td></tr>
                    <tr><td>config</td><td>the Grails configuration</td></tr>
                    <tr><td>request</td><td>the HTTP request</td></tr>
                    <tr><td>session</td><td>the HTTP session</td></tr>
                </table>
                <h4>Shortcuts</h4>
                <table class="table">
                    <tr><td>Execute</td><td>Ctrl-Enter</td></tr>
                    <tr><td>Clear</td><td>Esc</td></tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


