body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana, sans-serif;
    background: #eee;
    overflow: hidden;
}

.script-result, .result_time {
    color: white;
    font-size: 11px;
    font-family: monospace;
    padding: 8px;
    margin-bottom: 8px;
}

#result .script-result {
    white-space: pre;
    margin: 0;
}

#result.wrap .script-result {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#result .inner {
    float: left;
    min-width: 100%;
}

#result.wrap .inner {
    float: none;
    min-width: inherit;
}

.script-result {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #aaa;
    color: #000000;
}

.script-result.stacktrace {
    background: none repeat scroll 0 0 #FFF3F3;
    color: #ff0000;
}

.script-result.loading {
    background: url("../images/spinner.gif") no-repeat scroll 10px center #FFFFFF;
    padding: 15px 15px 15px 37px;
}

.result-time {
    font-size: 100%;
}

#header {
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    background: transparent url(../images/grails.logo.png) no-repeat;
    background-position: 5px center;
    padding-left: 45px;

}

.btn-toolbar {
    border-bottom: 1px solid #eee;
    padding: 3px;
}

#editorContainer {
    width: 100%;
    height: 50%;
    overflow: auto;
    background: #f4f4f4;
}

#result {
    font-size: 15px;
    overflow: auto;
    background: #f4f4f4;
    overflow: auto;
}

#editor .file-name-section {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.ui-layout-pane {
    padding: 0;
    border: 0;
}

.results {
    height: 100%;
}

#editor .buttons,
.east .buttons,
.south .buttons {
    background-color: #eee;
    border-bottom: 1px solid #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(top, #eeeeee, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#dddddd');
    position: relative;
}

.CodeMirror {
    height: 100%;
    font-size: 14px;
}

.CodeMirror-scroll {
    /*height: 100%;*/
}
.CodeMirror-gutters {
}

#code-wrapper {
    overflow: auto;
}

label.wrap {
    color: #777777;
    font-size: 0.75em;
    margin-right: 5px;
    position: absolute;
    right: 5px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}

label.wrap input,
label.wrap span {
    vertical-align: middle;
}