<div class="modal-content"  style="resize: both">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Files</h4>
    </div>

    <div class="modal-body" style="resize: both">
        <div class="file-store-select">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" class="local-select">Local</a></li>
                <li><a href="#" class="remote-select">Remote</a></li>
            </ul>
        </div>
        <div class="store">
            <div class="local"></div>
            <div class="remote"></div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>
<!-- /.modal-content -->