<div class="files-page-body full-height">
  {{#if files}}
      <div class="files-wrapper">
          <ul class="files">
          </ul>
      </div>
  {{else}}
      <div class="message">No files</div>
  {{/if}}
</div>