
<td class="name">
    {{fileIcon}}
    <a class="name" href="#">{{name}}</a>
</td>
<td class="modified">{{dateFormatTime lastModified}}</td>
<td class="delete"><a class="delete" href="#"><i class="fa fa-trash-o"></i></a></td>