<div class="files-page-body full-height">
  {{#if files}}
      <table class="table table-hover">
          <thead>
          <tr>
              <th>Name</th>
              <th>Date Modified</th>
              <th></th>
          </tr>
          </thead>
          <tbody></tbody>
      </table>
  {{else}}
      <div class="message">No files</div>
  {{/if}}
</div>